
html, body {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, black 0%, #1d1d1d 100%) repeat;
  color: white;
}

#loginDiv, #mainView, .heroView {
  margin: 60px 0 60px 0;
  padding: 30px 30px 60px 30px;
  background-color: white;
  color: #1d1d1d;
  border-radius: 10px;
}
#errorMessage {
  font-size: 16px;
  color: lightcoral;
}

#mainView, #heroesGridView {
  margin: 60px 30px 30px 30px;
  text-align: center;
}

#mainTitle, #heroesGridTitle {
  margin: 10px 0 30px 0;
  font-size: 60px;
  font-weight: bolder;
}

.heroView {
  margin: 20px 5px 20px 5px;
  padding: 20px 20px 50px 20px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.5);
  color: #1d1d1d7c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.15s ease-in;
}

.heroView:hover {
  background-color: white;
  color: #1d1d1d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.15s ease-in;
}

.heroDetails {
  margin-top: 60px;
  padding: 30px;
  background-color: white;
  color: black;
  border-radius: 10px;
}

.heroImage, .emptyImage {
  width: 250px;
  height: 250px;
  background: linear-gradient(90deg, rgb(189, 189, 189) 0%, #dbdbdb 100%) repeat;
  border: 1px solid lightgrey;
  border-radius: 10px;
}