html, body {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, black 0%, #1d1d1d 100%) repeat;
  color: white;
}

#loginDiv, #mainView, .heroView, #heroesGridView {
  margin: 60px 0 60px 0;
  padding: 30px 30px 60px 30px;
  background-color: white;
  color: #1d1d1d;
  border-radius: 10px;
  text-align: left !important;
}

#errorMessage {
  font-size: 16px;
  color: lightcoral;
}

#mainView, #heroesGridView {
  margin: 60px 30px 30px 30px;
  text-align: center;
}

#mainTitle, #heroesGridTitle, #searchFormTitle, #heroDetailsTitle {
  margin: 10px 0 30px 0;
  font-size: 60px;
  font-weight: bolder;
  text-align: center;
}

.heroView {
  margin: 20px 5px 20px 5px;
  padding: 20px 20px 50px 20px;
  text-align: left;
  color: #1d1d1d7c;
  opacity: 0.85;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.15s ease-in;
}

.heroView:hover {
  color: #1d1d1d;
  opacity: 1;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4), 0 10px 20px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.15s ease-in;
}

.goodHero {
  background-color: rgb(207, 255, 207);
}

.badHero {
  background-color: rgb(255, 206, 206);
}

.heroDetails {
  margin-top: 60px;
  margin-bottom: 40px;
  padding: 30px;
  color: black;
  border-radius: 10px;
}

.heroImage, .emptyImage {
  width: auto;
  height: 250px;
  margin-bottom: 20px;
  background: linear-gradient(90deg, rgb(189, 189, 189) 0%, #dbdbdb 100%) repeat;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.heroDetailsImage {
  width: 100%;
  height: max;
  border-radius: 10px;
}

.emptyImage {
  width: 250px !important;
  height: 250px !important;
}

.tableResults {
  font-size: 26px;
}

.imageHero {
  width: 100px;
  border: 0;
}

#searchErrorMessage {
  font-size: 22px;
  color: red;
}

.heroName {
  display: inline-block;
  margin-bottom: 30px;
  font-weight: bolder;
  text-align: left;
}

.heroDescription {
  font-weight: bolder;
}

.powerStatsTitle {
  margin-top: 20px;
  font-weight: bolder;
  font-size: 22px;
}

.powerStats {
  font-size: 22px;
}
