#imageLogo {
  display: inline;
  width: 32px;
  /* filter: invert(1); */
  margin: -2px -5px 0 -32px;  
  padding: 0;
}

#loginTitle {
  display: inline;
  text-align: center;
}

#loginButton {
  margin-top: 20px;
  margin-right: 20px;
  padding: 0;
  text-align: right;
}

#loginDiv, #mainView, .heroView, #heroesGridView, #teamDiv, .accumulativeDiv {
  margin: 10px;
  padding: 30px 30px 60px 30px;
  background-color: white;
  color: #1d1d1d;
  border-radius: 10px;
  text-align: left;
}

#loginDiv {
  margin-top: 90px;
}

#errorMessage {
  font-size: 16px;
  color: red;
}

#mainView, #heroesGridView {
  text-align: center;
}

#mainTitle, #heroesGridTitle, #searchFormTitle, #heroDetailsTitle {
  margin: 10px 0 30px 0;
  font-size: 52px;
  font-weight: bolder;
  text-align: center;
}

#mainTitle, #heroDetailsTitle, #searchFormTitle {
  display: inline;
}

.accumulativeDiv {
  margin: 0 0 20px 0;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.accumulativePowerStats{
  font-size: 16px;
  font-weight: bolder;
}

.heroView {
  margin: 20px 0 20px 0;
  padding: 20px 20px 50px 20px;
  text-align: left;
  color: #1d1d1d7c;
  opacity: 0.9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.15s ease-in;
}

.heroView:hover {
  color: #1d1d1d;
  opacity: 1;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4), 0 10px 20px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.15s ease-in;
}

.goodHero {
  border: 20px rgb(73, 177, 73) solid;
  opacity: 0.9;
}

.badHero {
  border: 20px rgb(192, 67, 67) solid;
  opacity: 0.9;
}

.neutralHero {
  border: 20px rgb(104, 104, 104) solid;
  opacity: 0.9;
}

.heroDetails {
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 30px;
  color: #1d1d1d;
  background-color: white;
  border-radius: 10px;
}

.heroImage, .emptyImage {
  width: 100%;
  margin-bottom: 20px;
  background: linear-gradient(90deg, rgb(189, 189, 189) 0%, #dbdbdb 100%) repeat;
}

.heroImageDiv {
  margin-bottom: 10px;
  max-height: 250px;
  border-radius: 10px;
  overflow: hidden;  
}

.heroDetailsImage {
  width: 100%;
  height: max;
  border-radius: 10px;
}

.emptyImage {
  width: max;
  height: 250px
}

.searchFormGroup {
  text-align: left;
}

.tableResults {
  font-size: 26px;
}

.heroSearchImage {
  width: 100px;
  border: 0;
}

#searchErrorMessage {
  font-size: 22px;
  color: red;
}

.heroPosition {
  margin: 0;
  font-weight: bolder;
}

.heroName {
  font-weight: bolder;
  margin: 0 0 10px 0;
  padding: 0;
}

.heroDescription {
  font-size: 22px;
  font-weight: bolder;
}

.powerStats {
  font-size: 16px;
}

.firstPowerstat {
  padding: 0 5px 0 5px;
  font-weight: bolder;
  font-size: 16px;
  color: white;
  background-color:#1d1d1d;
}

#footerDiv {
  margin: 150px 10px 30px 10px ;
  padding: 30px 0 30px 0;
  background-color: white;
  color: #1d1d1d;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
}
